{% extends "base/base.html"%}


{%  block start %}



<div class="container mt-5 pt-5">
    <div class="row">
        
        
        {% for product in page_obj %}
        <div class="col-md-3">
            <figure class="card card-product-grid">
                <div class="img-wrap"> <img src="{{product.product_images.first.image.url}}"> </div>
                <figcaption class="info-wrap border-top">
                    <a href="{% url 'get_product' product.slug %}" class="title">
                        <b>{{product.product_name}}</b></a>
                    <div class="price mt-2">${{product.price}}.00</div> <!-- price-wrap.// -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col.// -->
       

        {% endfor %}


      
        
       
    </div>
    <nav class="blog-nav nav nav-justified my-5">
        {% if page_obj.has_previous%}
        <a class="nav-link-prev nav-item nav-link rounded-left" href="?page={{ page_obj.previous_page_number }}"><i class="arrow-prev fas fa-long-arrow-alt-left"></i> Previous</a>
        {% endif %}
        <!--  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
        {% if page_obj.has_next %}
        <a class="nav-link-next nav-item nav-link rounded" href="?page={{ page_obj.next_page_number }}">Next <i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        {% endif %}
    </nav>

    </div>


{% endblock %}